/* Research Articles Section */
.research-articles-container {
    padding: 80px 20px;
    background-color: #f8f9fa;
    border: 1px solid #ddd;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    max-width: 800px;
    margin: 0 auto;
    text-align: left;
}

.research-articles-container h2 {
    font-size: 2rem;
    margin-bottom: 20px;
    color: #333;
    text-align: center;
}

.research-articles-container p {
    font-size: 1rem;
    margin-bottom: 30px;
    color: #555;
    text-align: center;
}

.articles-list {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.article {
    padding: 20px;
    background-color: #fff;
    border: 1px solid #ddd;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.article h3 {
    font-size: 1.5rem;
    margin-bottom: 10px;
    color: #ffa500;
    text-align: center; /* يجعل النص في منتصف العنصر */
}


.article p {
    font-size: 1rem;
    margin-bottom: 10px;
    color: #666;
}

.article a {
    font-size: 1rem;
    color: #ffa500;
    text-decoration: none;
    transition: color 0.3s;
}

.article a:hover {
    color: #0056b3;
}





body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
    margin: 0;
    padding: 0;
    background-color: #f8f9fa;
    color: #333;
}

.article-container {
    max-width: 800px;
    margin: 50px auto;
    padding: 20px;
    background-color: #fff;
    border: 1px solid #ddd;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.article-container h1 {
    font-size: 2rem;
    margin-bottom: 20px;
    color:orange;
}

.article-container p {
    margin-bottom: 20px;
}

.article-container img {
    max-width: 100%;
    height: auto;
    margin: 20px 0;
    border-radius: 8px;
}

.back-link {
    display: inline-block;
    margin-top: 20px;
    font-size: 1rem;
    color: #007bff;
    text-decoration: none;
}

.back-link:hover {
    color: #0056b3;
}


/* زر تغيير اللغة */
.language-switch {
    position: fixed;
    top: 50%;
    right: 0;
    background-color: #EA8E22;
    color: #FFFFFF;
    padding: 10px 20px;
    border-radius: 8px 0 0 8px;
    font-size: 14px;
    font-weight: bold;
    cursor: pointer;
    z-index: 1000;
    text-align: center;
}

.language-switch:hover {
    background-color: #D97C1A;
}